<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>Addr</key>
		<array>
			<dict>
				<key>Name</key>
				<string>浦东新区</string>
				<key>Value</key>
				<string>10</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>长宁区</string>
				<key>Value</key>
				<string>11</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>杨浦区</string>
				<key>Value</key>
				<string>12</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>闸北区</string>
				<key>Value</key>
				<string>13</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>静安区</string>
				<key>Value</key>
				<string>14</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>普陀区</string>
				<key>Value</key>
				<string>15</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>卢湾区</string>
				<key>Value</key>
				<string>16</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>宝山区</string>
				<key>Value</key>
				<string>17</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>虹口区</string>
				<key>Value</key>
				<string>18</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>嘉定区</string>
				<key>Value</key>
				<string>19</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>松江区</string>
				<key>Value</key>
				<string>20</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>奉贤区</string>
				<key>Value</key>
				<string>21</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>青浦区</string>
				<key>Value</key>
				<string>22</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>徐汇区</string>
				<key>Value</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>闵行区</string>
				<key>Value</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>黄埔区</string>
				<key>Value</key>
				<string>4</string>
			</dict>
		</array>
		<key>Age</key>
		<array>
			<dict>
				<key>Name</key>
				<string>0-1岁</string>
				<key>Value</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>1-2岁</string>
				<key>Value</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>2-3岁</string>
				<key>Value</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>3-4岁</string>
				<key>Value</key>
				<string>4</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>4-5岁</string>
				<key>Value</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>5-6岁</string>
				<key>Value</key>
				<string>6</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>6-7岁</string>
				<key>Value</key>
				<string>7</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>孕期</string>
				<key>Value</key>
				<string>8</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>产后</string>
				<key>Value</key>
				<string>9</string>
			</dict>
		</array>
	</dict>
	<key>errno</key>
	<string>0</string>
	<key>md5</key>
	<string>9b08282ac69764683a52a75ac94c7318</string>
</dict>
</plist>
