<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>Name</key>
			<string>生活服务</string>
			<key>PSysNo</key>
			<string>0</string>
			<key>ScondCategory</key>
			<array>
				<dict>
					<key>Name</key>
					<string>儿童摄影</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com/product/items/c_53-k_%E6%B5%8B%E8%AF%95-</string>
					<key>SysNo</key>
					<string>12</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string>53</string>
						<key>k</key>
						<string>%E6%B5%8B%E8%AF%95</string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>生日策划</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>13</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>家政月嫂</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>14</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>宝宝理发</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>15</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>母婴商城</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>16</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>儿童餐厅</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>17</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>婴儿游泳</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>18</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>儿童医院</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>19</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>母婴保健</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>20</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>赴美生子</string>
					<key>PSysNo</key>
					<string>3</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>21</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>SearchUrl</key>
			<string>http://www.sqkids.com</string>
			<key>SysNo</key>
			<string>3</string>
			<key>search_parms</key>
			<dict>
				<key>a</key>
				<string></string>
				<key>c</key>
				<string></string>
				<key>k</key>
				<string></string>
				<key>s</key>
				<string></string>
				<key>st</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>亲子活动</string>
			<key>PSysNo</key>
			<string>0</string>
			<key>ScondCategory</key>
			<array>
				<dict>
					<key>Name</key>
					<string>户外</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>30</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>儿童剧</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>31</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>室内活动</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>32</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>比赛/讲座</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>33</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>游乐园</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>34</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>爱心公益</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>35</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>展览</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>36</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>音乐会/演出</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>37</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>博物馆</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>38</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>公园</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>39</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>室内场所</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>40</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>观光景点</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>41</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>郊游</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>42</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>名胜古迹</string>
					<key>PSysNo</key>
					<string>4</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>43</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>SearchUrl</key>
			<string>http://www.sqkids.com</string>
			<key>SysNo</key>
			<string>4</string>
			<key>search_parms</key>
			<dict>
				<key>a</key>
				<string></string>
				<key>c</key>
				<string></string>
				<key>k</key>
				<string></string>
				<key>s</key>
				<string></string>
				<key>st</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>孕妈妈</string>
			<key>PSysNo</key>
			<string>0</string>
			<key>ScondCategory</key>
			<array>
				<dict>
					<key>Name</key>
					<string>孕产课堂</string>
					<key>PSysNo</key>
					<string>7</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>51</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>孕期运动</string>
					<key>PSysNo</key>
					<string>7</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>52</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>艺术胎教</string>
					<key>PSysNo</key>
					<string>7</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>53</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>月子服务</string>
					<key>PSysNo</key>
					<string>7</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>54</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>产后修复</string>
					<key>PSysNo</key>
					<string>7</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>55</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>私人服务</string>
					<key>PSysNo</key>
					<string>7</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>56</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>SearchUrl</key>
			<string>http://www.sqkids.com</string>
			<key>SysNo</key>
			<string>7</string>
			<key>search_parms</key>
			<dict>
				<key>a</key>
				<string></string>
				<key>c</key>
				<string></string>
				<key>k</key>
				<string></string>
				<key>s</key>
				<string></string>
				<key>st</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>早教</string>
			<key>PSysNo</key>
			<string>0</string>
			<key>ScondCategory</key>
			<array>
				<dict>
					<key>Name</key>
					<string>托班</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>69</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>启蒙类</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>70</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>创意类</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>71</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>益智类</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>72</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>情商类</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>73</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>运动类</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>74</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>语言类</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>75</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>才艺班</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>76</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>幼儿园</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>77</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>父母教育</string>
					<key>PSysNo</key>
					<string>8</string>
					<key>SearchUrl</key>
					<string>http://www.sqkids.com</string>
					<key>SysNo</key>
					<string>78</string>
					<key>search_parms</key>
					<dict>
						<key>a</key>
						<string></string>
						<key>c</key>
						<string></string>
						<key>k</key>
						<string></string>
						<key>s</key>
						<string></string>
						<key>st</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>SearchUrl</key>
			<string>http://www.sqkids.com</string>
			<key>SysNo</key>
			<string>8</string>
			<key>search_parms</key>
			<dict>
				<key>a</key>
				<string></string>
				<key>c</key>
				<string></string>
				<key>k</key>
				<string></string>
				<key>s</key>
				<string></string>
				<key>st</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>errno</key>
	<string>0</string>
	<key>md5</key>
	<string>37a6259cc0c1dae299a7866489dff0bd</string>
</dict>
</plist>
