<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>APP_DOWNLOAD</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=download</string>
		</dict>
		<key>APP_UPDATE_VERSION</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=app_update_version</string>
		</dict>
		<key>ARTICLE_GET_HOT_TAG</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=article&amp;&amp;act=get_hot_tag</string>
		</dict>
		<key>ARTICLE_GET_KNOWLEDGE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=article&amp;&amp;act=get_knowledge</string>
		</dict>
		<key>ARTICLE_GET_LIST</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=article&amp;&amp;act=get_article_list</string>
		</dict>
		<key>ARTICLE_GET_POPULATION_TYPE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=article&amp;&amp;act=get_population_type</string>
		</dict>
		<key>ARTICLE_GET_RECOMMEND_LIST</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=article&amp;&amp;act=get_recommend_article_list</string>
		</dict>
		<key>CATEGORY_GET</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=category&amp;&amp;act=get</string>
		</dict>
		<key>COLLECT_ADD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=collect&amp;&amp;act=add_collect</string>
		</dict>
		<key>COLLECT_DELETE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=collect&amp;&amp;act=delete_collect</string>
		</dict>
		<key>COLLECT_QUERY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=collect&amp;&amp;act=query_collect</string>
		</dict>
		<key>COMMENT_ADD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=add_comment</string>
		</dict>
		<key>COMMENT_GET_BY_USER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=get_user_comment_info</string>
		</dict>
		<key>COMMENT_GET_COUNT</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=get_comment_count</string>
		</dict>
		<key>COMMENT_GET_DETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=get_comment_detail</string>
		</dict>
		<key>COMMENT_GET_NEWS</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=get_news_comments</string>
		</dict>
		<key>COMMENT_GET_REPLIES</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=get_comment_replies</string>
		</dict>
		<key>COMMENT_GET_SCORE_CFG</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=get_comment_score_cfg</string>
		</dict>
		<key>COMMENT_MODIFY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=modify_comment</string>
		</dict>
		<key>COMMENT_PRAISE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=comment&amp;&amp;act=praise_comment</string>
		</dict>
		<key>COUPON_CHECK</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=coupon&amp;&amp;act=check_user_coupon</string>
		</dict>
		<key>COUPON_FETCH</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=coupon&amp;&amp;act=fetch_coupon</string>
		</dict>
		<key>COUPON_QUERRY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=coupon&amp;&amp;act=query_user_coupon</string>
		</dict>
		<key>GET_BROWSE_RECORD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=BrowseRecord&amp;&amp;act=get_browse_record</string>
		</dict>
		<key>GET_CENTER_COUNT</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=userCenter&amp;&amp;act=get_center_count</string>
		</dict>
		<key>GET_COUPON_PRODUCT</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=product&amp;act=get_coupon_product</string>
		</dict>
		<key>GET_HOME_PAGE_ACTIVITY</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;act=get_home_page_activity</string>
		</dict>
		<key>GET_HOME_TAB</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=get_home_tab</string>
		</dict>
		<key>GET_HOME_THEME</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=get_home_theme</string>
		</dict>
		<key>GET_LAUNCH</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=get_wireless_launch</string>
		</dict>
		<key>GET_PAGE_HOME</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=get_page_home</string>
		</dict>
		<key>IMAGE_UPLOAD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=uploadImg&amp;&amp;act=upload_img</string>
		</dict>
		<key>KEFU_URL</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://chat16.live800.com/live800/chatClient/chatbox.jsp?companyID=596891&amp;configID=118743&amp;jid=9665747091</string>
		</dict>
		<key>LOGIN_IS_LOGIN</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=is_login</string>
		</dict>
		<key>LOGIN_LOGIN</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=login</string>
		</dict>
		<key>LOGIN_LOGINOUT</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=login_out</string>
		</dict>
		<key>MAIN_GETINTERFACE</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=getinterface</string>
		</dict>
		<key>MAIN_GETSERVICETIME</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=getservicetime</string>
		</dict>
		<key>MAIN_GET_AGEANDAREA</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=main&amp;&amp;act=get_age_and_area</string>
		</dict>
		<key>ORDER_CANCLE_APPOINTMENTORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=cancle_appointment_order</string>
		</dict>
		<key>ORDER_CANCLE_ORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=cancle_order</string>
		</dict>
		<key>ORDER_CHANGE_PAY_CHANNEL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=change_pay_channel</string>
		</dict>
		<key>ORDER_CREATE_APPOINTMENTORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=create_appointment_order</string>
		</dict>
		<key>ORDER_CREATE_REFUND</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=create_refund</string>
		</dict>
		<key>ORDER_GET_ORDER_DETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=get_order_detail</string>
		</dict>
		<key>ORDER_GET_PAY_CHANNEL</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=get_pay_channel</string>
		</dict>
		<key>ORDER_GET_REFUND_TYPE</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=get_refund_type</string>
		</dict>
		<key>ORDER_GET_USER_REFUND</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=get_user_refund</string>
		</dict>
		<key>ORDER_PLACE_ORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=place_order</string>
		</dict>
		<key>ORDER_SEARCH_APPOINTMENTORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=search_appointment_order</string>
		</dict>
		<key>ORDER_SEARCH_ORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=search_order</string>
		</dict>
		<key>ORDER_SEND_CONSUME_CODE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=order&amp;&amp;act=send_consume_code</string>
		</dict>
		<key>PAY_ALIPAY_NOTIFY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=pay&amp;&amp;act=alipay_notify</string>
		</dict>
		<key>PAY_GET_NOTICE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=pay&amp;&amp;act=get_pay_notice</string>
		</dict>
		<key>PRODUCT_ACTIVITY_FILTER_GET</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=product&amp;&amp;act=get_product_activity_filter</string>
		</dict>
		<key>PRODUCT_ACTIVITY_GET_LIST</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=product&amp;&amp;act=get_product_activity_list</string>
		</dict>
		<key>PRODUCT_GETDETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=product&amp;&amp;act=get_detail</string>
		</dict>
		<key>PRODUCT_GET_DESC</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=product&amp;&amp;act=get_product_desc</string>
		</dict>
		<key>PUSH_IS_UN_READ_MESSAGE</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=push&amp;&amp;act=is_un_read_message</string>
		</dict>
		<key>PUSH_REGISTER_DEVICE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=push&amp;&amp;act=register_device</string>
		</dict>
		<key>PUSH_SEARCH_USER_MESSAGE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=push&amp;&amp;act=search_user_message</string>
		</dict>
		<key>PUSH_USER_READ_MESSAGE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=push&amp;&amp;act=user_read_message</string>
		</dict>
		<key>SCORE_FLOW_QUERY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=score&amp;&amp;act=query_score_flow</string>
		</dict>
		<key>SEARCH_GET_HOTKEY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=search&amp;&amp;act=get_hotkeywords</string>
		</dict>
		<key>SEARCH_SEARCH</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=search&amp;&amp;act=search</string>
		</dict>
		<key>SHARE_ADD_RECORD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=UserCenter&amp;&amp;act=add_share_record</string>
		</dict>
		<key>SHOPPINGCART_GET</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=shoppingCart&amp;&amp;act=get_shoppingCart</string>
		</dict>
		<key>SHOPPINGCART_SET</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=shoppingCart&amp;&amp;act=set_shoppingCart</string>
		</dict>
		<key>STORE_GETDETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=store&amp;&amp;act=get_detail</string>
		</dict>
		<key>STORE_GET_DESC</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=store&amp;&amp;act=get_store_desc</string>
		</dict>
		<key>STRATEGY_GET_DETAIL</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=strategy&amp;&amp;act=get_strategy_detail</string>
		</dict>
		<key>STRATEGY_SEARCH</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=strategy&amp;&amp;act=search_strategy</string>
		</dict>
		<key>THIRD_LOGIN</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=third_Login</string>
		</dict>
		<key>THIRD_USER_PHONE_REGISTER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=third_user_phone_register</string>
		</dict>
		<key>TOOL_SEND_REGISTER_SMS</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=tool&amp;&amp;act=send_register_sms</string>
		</dict>
		<key>TOOL_SEND_SMS</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=tool&amp;&amp;act=send_sms</string>
		</dict>
		<key>USER_FIND_PASSWORD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=find_password</string>
		</dict>
		<key>USER_MODIFY_PASSWORD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=userCenter&amp;&amp;act=modify_password</string>
		</dict>
		<key>USER_REGISTER_LOGIN</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=login&amp;&amp;act=register_login</string>
		</dict>
		<key>USER_UPDATE_INFO</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=userCenter&amp;&amp;act=update_user_info</string>
		</dict>
		<key>WELFARE_GET</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.kidstc.com/json.php?mod=commonweal&amp;&amp;act=get_welfare_store</string>
		</dict>
	</dict>
	<key>errno</key>
	<integer>0</integer>
	<key>version</key>
	<string>34</string>
</dict>
</plist>
