<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>CATEGORY_GET</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=category&amp;&amp;act=get</string>
		</dict>
		<key>COLLECT_ADD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=collect&amp;&amp;act=add_collect</string>
		</dict>
		<key>COLLECT_DELETE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=collect&amp;&amp;act=delete_collect</string>
		</dict>
		<key>COLLECT_QUERY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=collect&amp;&amp;act=query_collect</string>
		</dict>
		<key>COMMENT_ADD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=comment&amp;&amp;act=add_comment</string>
		</dict>
		<key>COMMENT_QUERY_COMMENT</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=comment&amp;&amp;act=query_comment</string>
		</dict>
		<key>COUPON_CHECK</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=coupon&amp;&amp;act=check_user_coupon</string>
		</dict>
		<key>COUPON_FETCH</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=coupon&amp;&amp;act=fetch_coupon</string>
		</dict>
		<key>COUPON_QUERRY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=coupon&amp;&amp;act=query_user_coupon</string>
		</dict>
		<key>GET_CENTER_COUNT</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=userCenter&amp;&amp;act=get_center_count</string>
		</dict>
		<key>GET_PAGE_HOME</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=main&amp;&amp;act=get_page_home</string>
		</dict>
		<key>IMAGE_UPLOAD</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=uploadImg&amp;&amp;act=upload_img</string>
		</dict>
		<key>LOGIN_IS_LOGIN</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=login&amp;&amp;act=is_login</string>
		</dict>
		<key>LOGIN_LOGIN</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=login&amp;&amp;act=login</string>
		</dict>
		<key>LOGIN_LOGINOUT</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=login&amp;&amp;act=login_out</string>
		</dict>
		<key>MAIN_GETINTERFACE</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=main&amp;&amp;act=getinterface</string>
		</dict>
		<key>MAIN_GETSERVICETIME</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=main&amp;&amp;act=getservicetime</string>
		</dict>
		<key>MAIN_GET_AGEANDAREA</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=main&amp;&amp;act=get_age_and_area</string>
		</dict>
		<key>ORDER_CANCLE_APPOINTMENTORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=cancle_appointment_order</string>
		</dict>
		<key>ORDER_CANCLE_ORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=cancle_order</string>
		</dict>
		<key>ORDER_CREATE_APPOINTMENTORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=create_appointment_order</string>
		</dict>
		<key>ORDER_CREATE_REFUND</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=create_refund</string>
		</dict>
		<key>ORDER_GET_ORDER_DETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=get_order_detail</string>
		</dict>
		<key>ORDER_PLACE_ORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=place_order</string>
		</dict>
		<key>ORDER_SEARCH_APPOINTMENTORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=search_appointment_order</string>
		</dict>
		<key>ORDER_SEARCH_ORDER</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=order&amp;&amp;act=search_order</string>
		</dict>
		<key>PRODUCT_GETDETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=product&amp;&amp;act=get_detail</string>
		</dict>
		<key>PRODUCT_GET_DESC</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=product&amp;&amp;act=get_product_desc</string>
		</dict>
		<key>SCORE_FLOW_QUERY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=score&amp;&amp;act=query_score_flow</string>
		</dict>
		<key>SEARCH_ARTICLE</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=article&amp;&amp;act=search_article</string>
		</dict>
		<key>SEARCH_GET_HOTKEY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=search&amp;&amp;act=get_hotkeywords</string>
		</dict>
		<key>SEARCH_SEARCH</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=search&amp;&amp;act=search</string>
		</dict>
		<key>SEARCH_STRATEGY</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=strategy&amp;&amp;act=search_strategy</string>
		</dict>
		<key>SHOPPINGCART_GET</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=shoppingCart&amp;&amp;act=get_shoppingCart</string>
		</dict>
		<key>SHOPPINGCART_SET</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=shoppingCart&amp;&amp;act=set_shoppingCart</string>
		</dict>
		<key>STORE_GETDETAIL</key>
		<dict>
			<key>method</key>
			<string>post</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=store&amp;&amp;act=get_detail</string>
		</dict>
		<key>STORE_GET_DESC</key>
		<dict>
			<key>method</key>
			<string>get</string>
			<key>url</key>
			<string>http://api.sqkids.com:8000/json.php?mod=store&amp;&amp;act=get_store_desc</string>
		</dict>
	</dict>
	<key>errno</key>
	<string>0</string>
	<key>version</key>
	<string>11</string>
</dict>
</plist>
